body { 
    color: black;
    background-color: rgb(91, 165, 42);
    line-height: 150%;
}

.black-border {
    border: 5px solid black;
    border-radius: 10px;
            width: 350px;
            font-family: cursive;
}

#green-background {
    background-color: green;
}
h1{color: black;
    
}

p{color: aqua;}

a {color: sandybrown;
font-size: small;
font-family: sans-serif;
}

a.one{font-family: 'Courier New';}

p.one{color: slategrey;
    border: 5px solid black;
    width: 300px;
}
p.two{ font-size: 20px;}
    
h1.one{ color: cadetblue;
font-size: 30px;}
header{width: 300px;
border: 50px solid black;
padding: 70px;
margin: 70px;}

header.one{font-size: 40px;
width: 300px;
border:50px solid black ;
padding: 80px;
margin: 70px;}

main{width: 200px;
border:15px dotted black;
padding: 150px;
margin: 30px;}

main.one{ width: 300px;
border: 15px solid green;
padding: 50px;
margin-left: auto;
margin-right: auto;
}
ul{list-style-type: none;
margin: 0;
padding: 0;}

li{display: inline;
}
ul{background-color:rgb(173, 135, 222);}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}





